table,tr,td{
background-color: orange ;
font-family: century gothic;
color: black;
border: 1px solid black;
padding: 5px;
border-collapse: collapse;
}

.h{
border: 8px groove orange;
padding: 20px;
}

.posisi{
position: absolute;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
margin-top: auto;
left: 0;
right: 0;
top: 100px;
bottom: 0;
}

body{
background-repeat: no-repeat;
background-size: 1400px auto;
background: linear-gradient(to right, orange, black);
  color: white;
  padding: 10rem 3rem;
  margin: 4rem;
}
