* {
  padding: 0;
  margin: 0;
  font-family: "Time New Roman", sans-serif;
  color: #333;
}
header {
  height: 70px;
}
header h1 {
  display: inline-block;
  float: left;
  padding: 15px 24px;
  text-transform: uppercase;
}
header h1 a {
  transition: 0.3s;
}
header h1 a:hover {
  color: #ff5733;
}
header ul {
  float: right;
}
header ul li {
  padding: 24px;
  display: inline-block;
}
header ul li a {
  transition: 0.3s;
}
header ul li a:hover {
  color: #ff5733;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.menu {
  float: right;
  display: none;
  padding: 18px;
}
.menu:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: rgba(16, 47, 80, 0.9);
  transition: 0.3s;
  z-index: 9999;
}
.sidebar ul li a {
  color: #fff;
}
.sidebar ul li {
  padding: 24px;
  transition: 0.3s;
  transition-property: background-color;
}
.sidebar ul li:hover {
  background-color: #00FF00;
}

.banner {
  background-color: #228B22;
  padding: 150px 0;
}
section {
  padding: 50px 0;
}
.banner img {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 3px 5px #ddd;
  margin-bottom: 10px;

}
.banner h2,
.banner p,
.banner span {
  color: #fff;
}
.banner h2 {
  margin-bottom: 10px;
}
.banner p {
  font-size: 18px;
}
.banner-foto {
  padding-left: 24px;
}
section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
}

section h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 40px;
  height: 4px;
  background-color: green;
  left: calc(50% - 20px);
}
#about p {
  text-align: justify;
  text-indent: 30px;
  line-height: 25px;
  margin-bottom: 15px;
}
#kontak {
  background-color: #f9f9f9;
}
.col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  text-align: center;
  margin-bottom: 15px;
}
.col-4 img {
  width: 100%;
  
}

.col-3 {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 50px 10px;
}
.col-3 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
footer {
  background-color: #228B22;
  padding: 30px;
  text-align: center;
}
footer small {
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
  .col-4 {
    width: 50%;
  }
}
